Repository BCStudentSoftwareDevTeam/celts, pull requests merged in 2024-07, with the labels that each got.

#1272 We added icons for the status such as Approved, In progress and Submi…
  app/templates/admin/manageServiceLearningFaculty.html
Labels: enhancement

#1251 Download reports UI - dynamic year dropdown added
  app/controllers/admin/routes.py
  app/templates/admin/reports.html
  app/templates/sidebar.html
Labels: enhancement, admin, summer cohort, in trello

#1233 Slc status final branch
  app/controllers/admin/routes.py
  app/controllers/serviceLearning/routes.py
  app/models/course.py
  app/models/courseStatus.py
  app/templates/serviceLearning/slcProposal.html
  app/templates/serviceLearning/slcQuestionnaire.html
Labels: enhancement, service learning, summer cohort, in trello
